.barlow{
  font-family: "Barlow", sans-serif;
  font-weight: 40px;
  font-style: normal;
  text-align: center;
  border: outset 5px;
  border-color: #A10D86;
  border-width: medium;
  border-radius: 5px;
  border-style: groove;
  background-color: white;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 35px;
  font-style: normal;
}

div p:nth-child(odd){
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	border: outset 15px;
	background-color: #00A2FF;
	border-width:medium;
	border-color:#000000;
	border-radius:5px;
}

div p:nth-child(even){
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	border: outset 5px;
	background-color: #CD96FE;
	border-width:medium;
	border-color:#000000;
	border-radius:5px;
}

.imag1{
    display: block;
    margin: 0 auto;
    max-width: 95%;
    height: auto;
 
}

.imageC{
	   margin-bottom: 20px;
}
