body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#formu {
    background-color: #ddd;
    padding: 2%;
    margin-top: 20px;
    border-radius: 5px;
    margin: 2% 50% 2% 2%; 
}

#formu input[type="text"]{
    width: 100%;
}

#formu input[type="submit"] {
    padding: 10px 20px;
    background-color: #f5c4c4;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#formu input[type="submit"]:hover {
    background-color: #f39c9c; 
}


