input[type="text"] {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  width: 41%;
  padding: 10px;
  background-color: #007bff; 
  color: #fff;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #0056b3; 
}

